<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <link rel="stylesheet" type="text/css" href="/template.css"></link> 
        <!--That slash on stylesheetsays to look in the root directory which is views-->
    </head>
    <body>
        <p>this is the header!</p>